<%- include('partials/header') %>


<div class="jumbotron centered" style=" background-color: #212529; height: 75vh;">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <img src="https://filterpixel.com/assets/new-index/fpLogo.svg" alt="/" style="height: 20vh;margin-left: 0%;">
    <hr>
    <div style="margin-top:10%;">
      <p>
        <a class="btn btn-light btn-lg" href="/register" role="button" style="margin-left:30%;width:400px"><i class="fas fa-key fa-2x"></i>Register</a>
      </p>
      <p>
        <a class="btn btn-dark btn-lg" href="/login" role="button" style="margin-left:30%;width:400px"><i class="fas fa-key fa-2x"></i>Login</a>
      </p>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
